<div id="employeeEditDialogForm" title="Edit user">
	<p class="validateTips">All form fields are required.</p>

	<form>
		<fieldset>
			<label for="name">Name</label>
			<input type="text" name="name" class="employee-edit-name text ui-widget-content" value="<%- model.name %>">

			<label for="dob">Date of Birth</label>
			<input type="text" name="dob"  class="employee-edit-dob text ui-widget-content"  value="<%- model.dateOfBirth %>">

			<label for="url">Image URL</label>
			<input type="text" name="url"  class="employee-edit-url text ui-widget-content"  value="<%- model.imageUrl %>">

			<!-- Allow form submission with keyboard without duplicating the dialog button -->
			<input type="submit" tabindex="-1">
		</fieldset>
	</form>
</div>